.overlay{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 999;
}

.screen{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

#screen1{
  background-color: whitesmoke;
  display: block;
}

#screen2{
  display: none;
}

#screen3{
  background-color: blue;
  display: none;
}