@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html {
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    background-color: #f1f1f1;
}

.answers {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.15fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". mood0 ." "mood3 title mood1" ". mood2 ." "footer footer footer";
}

.title {
    grid-area: title;
}

.mood0 {
    grid-area: mood0;
    text-align: center;
}

.mood1 {
    grid-area: mood1;
    text-align: right;
}

.mood2 {
    grid-area: mood2;
    text-align: center;
}

.mood3 {
    grid-area: mood3;
}

.footer {
    grid-area: footer;
}

#mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
    left: 50%;
    top: 50%;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    font-size: xx-large;
  }